/* banner.css */
@import "../../src/styles/banner.slider.css";
@import "../../src/styles/banner.slide.css";
@import "../../src/styles/banner.static.css";
@import "../../src/styles/banner.arrows.css";
